body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  margin-bottom: 0;
}

p {
  margin: 0;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}
.nav-bar .logo {
  width: 20%;
}
.nav-bar .nav-items {
  display: flex;
  align-items: center;
}
.nav-bar .nav-items .nav-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #362a43;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-bar .nav-items .nav-item:first-child {
  margin-left: 0;
}
.nav-bar .nav-items .nav-item:last-child {
  margin-right: 0;
}
.nav-bar .social-medias {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  width: 20%;
}
.nav-bar .social-medias a {
  display: inherit;
}

.heaedr-content {
  width: 100%;
  max-width: 1179px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 82px auto 0 auto;
}
.heaedr-content .left-side {
  max-width: 445px;
}
.heaedr-content .left-side .main-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #362a43;
}
.heaedr-content .left-side .description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #464646;
  margin-top: 23px;
}
.heaedr-content .left-side .contact-button {
  margin-top: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 229px;
  height: 60px;
  background: #b48fdb;
  border-radius: 10px;
}
.heaedr-content .left-side .contact-button p {
  flex: 1;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.heaedr-content .left-side .contact-button .arrow-icon {
  border: none;
  width: 60px;
  height: 60px;
  background: #ffb3c9;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.heaedr-content .right-side {
  position: relative;
  width: 675px;
  height: 773px;
}
.heaedr-content .right-side .pink-circle {
  width: 626px;
  height: 626px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffb3c9;
  right: 0;
}
.heaedr-content .right-side .purple-circle {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  position: absolute;
  background-color: #b48fdb;
  top: 143px;
}
.heaedr-content .right-side img {
  width: 472px;
  height: 670px;
  position: absolute;
  top: 103px;
  left: 125px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

.latest-release-block-container {
  width: 100%;
  position: relative;
}
.latest-release-block-container .latest-release-block {
  width: 100%;
  max-width: 1179px;
  margin: 0 auto;
}
.latest-release-block-container .latest-release-block .arrows-and-title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.latest-release-block-container .latest-release-block .arrows-and-title-container .latest-release {
  padding-top: 110px;
}
.latest-release-block-container .latest-release-block .arrows-and-title-container .latest-release .latest-release-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #362a43;
}
.latest-release-block-container .latest-release-block .arrows-and-title-container .latest-release .latest-release-description {
  width: 423px;
  margin-top: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #464646;
}
.latest-release-block-container .latest-release-block .arrows-and-title-container .slider-arrows {
  display: flex;
  padding: 189px 80px 0 0;
  gap: 46px;
}
.latest-release-block-container .latest-release-block .background-shadow {
  position: absolute;
  background-color: #f8fdfd;
  width: 55%;
  height: 1123px;
  right: 0;
  top: 0;
  z-index: -1;
}
.latest-release-block-container .latest-release-slider {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: scroll;
  height: 730px;
  width: 100%;
  padding: 100px 0 100px calc((100% - 1179px) / 2);
}
.latest-release-block-container .latest-release-slider .release-item {
  background: #ffffff;
  box-shadow: 0px 4px 100px rgba(74, 148, 154, 0.1);
  border-radius: 30px;
  width: 350px;
  height: 100%;
  padding: 20px;
  flex-shrink: 0;
}
.latest-release-block-container .latest-release-slider .release-item .cover {
  width: 100%;
  border-radius: 30px;
}
.latest-release-block-container .latest-release-slider .release-item .detail {
  padding: 10px;
}
.latest-release-block-container .latest-release-slider .release-item .detail .title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #362a43;
  padding-bottom: 13px;
}
.latest-release-block-container .latest-release-slider .release-item .detail .info {
  display: flex;
  justify-content: space-between;
}
.latest-release-block-container .latest-release-slider .release-item .detail .label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #464646;
}
.latest-release-block-container .latest-release-slider .release-item .detail .value {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #464646;
}

.about-me-container {
  width: 100%;
  max-width: 1179px;
  margin: 0 auto;
  display: flex;
}
.about-me-container .about-me-picture-container {
  position: relative;
}
.about-me-container .about-me-picture-container .man-pic {
  margin-left: 67px;
}
.about-me-container .about-me-picture-container .back-reg-pink {
  position: absolute;
  width: 264px;
  height: 603px;
  top: 98px;
  z-index: -1;
  background: #ffb3c9;
  border-radius: 30px;
}
.about-me-container .about-me-picture-container .back-reg-purple {
  position: absolute;
  width: 264px;
  height: 603px;
  left: 41px;
  top: 98px;
  z-index: -1;
  background: #b48fdb;
  border-radius: 30px;
}
.about-me-container .about-me-text-container {
  padding-top: 100px;
}
.about-me-container .about-me-text-container .title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #362a43;
}
.about-me-container .about-me-text-container .text {
  max-width: 540px;
  margin-top: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #464646;
}
.about-me-container .about-me-text-container .more-button {
  width: 140px;
  height: 50px;
  background: #b48fdb;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  align-items: center;
  color: #ffffff;
}/*# sourceMappingURL=styles.css.map */