$pink: #ffb3c9;
$purple: #b48fdb;
$container-width: 1179px;
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;

  //   --pinki: #ffb3c9;
  //   --purple: #b48fdb;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  margin-bottom: 0;
}
p {
  margin: 0;
}
.header-container {
  //   background-color: cadetblue;
}
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  //   background-color: aqua;
  padding: 30px 80px;
  .logo {
    width: 20%;
  }
  .nav-items {
    display: flex;
    align-items: center;
    .nav-item {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #362a43;
      margin-left: 20px;
      margin-right: 20px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .social-medias {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    width: 20%;
    a {
      display: inherit;
    }
  }
}
.heaedr-content {
  width: 100%;
  max-width: $container-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 82px auto 0 auto;
  //   background-color: aquamarine;
  .left-side {
    // margin-left: auto;
    // background-color: bisque;
    max-width: 445px;
    .main-title {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 900;
      font-size: 72px;
      line-height: 72px;
      color: #362a43;
    }
    .description {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #464646;
      margin-top: 23px;
    }
    .contact-button {
      margin-top: 33px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 229px;
      height: 60px;
      background: $purple;
      border-radius: 10px;

      p {
        // background-color: red;
        flex: 1;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
      }
      .arrow-icon {
        // display: flex;
        border: none;
        width: 60px;
        height: 60px;
        background: $pink;
        border-radius: 10px;
        color: white;
        cursor: pointer;
      }
    }
  }
  .right-side {
    position: relative;
    width: 675px;
    height: 773px;
    .pink-circle {
      width: 626px;
      height: 626px;
      border-radius: 50%;
      position: absolute;
      background-color: $pink;
      right: 0;
    }
    .purple-circle {
      width: 340px;
      height: 340px;
      border-radius: 50%;
      position: absolute;
      background-color: $purple;
      top: 143px;
    }
    img {
      width: 472px;
      height: 670px;
      position: absolute;
      top: 103px;
      left: 125px;
      object-fit: contain;
      object-position: bottom;
    }
  }
}
.latest-release-block-container {
  width: 100%;
  position: relative;
  .latest-release-block {
    // background-color: aqua;
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;

    .arrows-and-title-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .latest-release {
        padding-top: 110px;
        .latest-release-title {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 57px;
          color: #362a43;
        }
        .latest-release-description {
          width: 423px;
          margin-top: 11px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #464646;
        }
      }
      .slider-arrows {
        display: flex;
        padding: 189px 80px 0 0;
        gap: 46px;
      }
    }

    .background-shadow {
      position: absolute;
      background-color: #f8fdfd;
      width: 55%;
      height: 1123px;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
  .latest-release-slider {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    overflow-x: scroll;
    height: 730px;
    width: 100%;
    padding: 100px 0 100px calc((100% - $container-width) / 2);
    .release-item {
      background: #ffffff;
      box-shadow: 0px 4px 100px rgba(74, 148, 154, 0.1);
      border-radius: 30px;
      width: 350px;
      height: 100%;
      padding: 20px;
      flex-shrink: 0;
      .cover {
        width: 100%;
        border-radius: 30px;
      }
      .detail {
        padding: 10px;
        .title {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          align-items: center;
          color: #362a43;
          padding-bottom: 13px;
        }
        .info {
          display: flex;
          justify-content: space-between;
        }
        .label {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;
          color: #464646;
        }
        .value {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
          text-align: right;
          color: #464646;
        }
      }
    }
  }
}
.about-me-container {
  width: 100%;
  //   background-color: red;
  max-width: $container-width;
  margin: 0 auto;
  display: flex;

  .about-me-picture-container {
    position: relative;
    .man-pic {
      margin-left: 67px;
    }
    .back-reg-pink {
      position: absolute;
      width: 264px;
      height: 603px;
      top: 98px;
      z-index: -1;
      background: $pink;
      border-radius: 30px;
    }
    .back-reg-purple {
      position: absolute;
      width: 264px;
      height: 603px;
      left: 41px;
      top: 98px;
      z-index: -1;
      background: $purple;
      border-radius: 30px;
    }
  }
  .about-me-text-container {
    // background-color: green;
    padding-top: 100px;
    .title {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 57px;
      color: #362a43;
    }
    .text {
      max-width: 540px;
      margin-top: 11px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #464646;
    }
    .more-button {
      width: 140px;
      height: 50px;
      background: $purple;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      margin-top: 50px;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      align-items: center;
      color: #ffffff;
    }
  }
}

// .title {
//   background-color: var(--color-primary);
//   padding: 10px;
//   font-size: 30px;
//   .title-in {
//     background-color: blanchedalmond;
//   }
//   &__text {
//     color: blue;
//   }
//   span {
//     div {
//       p {
//       }
//     }
//   }
// }
